.container-fluid{
    padding-top:3%;
    text-align: center;
}

button{
    margin-top: 1%;
}

table{
    margin: auto;
}

/* All Input Fields default */

input {
    border: solid 1px #DDDDEE;
    width: 24pt;
    height: 25pt;
    vertical-align: middle;
    text-align: center;
    font-size: 18pt;
    background-color: transparent;
    font-family: times, "times new roman", serif;
    color: black;
}


/* Border middle 4*/

tr:nth-child(3n) td input{
    border-bottom: solid 1px #4673c8;
}

tr:nth-child(3n+1) td input{
    border-top: solid 1px #4673c8;
}

td:nth-child(3n) input{
    border-right: solid 1px #4673c8;
}

td:nth-child(3n+1) input{
    border-left: solid 1px #4673c8;
}

/* Alerts */
#alerts{
    padding-top: 2%;
}